<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>www.xamdesk.com</display-name>
  <listener>
   		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>/WEB-INF/hibernateConfig.xml, /WEB-INF/daoConfig.xml, /WEB-INF/serviceConfig.xml</param-value>
  </context-param>
  <listener>
    	<listener-class> org.apache.struts2.tiles.StrutsTilesListener </listener-class>
  </listener>
  <filter>
    	<filter-name>struts2</filter-name>
    	<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
  </filter>
  <filter-mapping>
   	 	<filter-name>struts2</filter-name>
    	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    	<welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      	<taglib-uri>/tags/struts-bean</taglib-uri>
      	<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
    </taglib>
    <taglib>
      	<taglib-uri>/tags/struts-html</taglib-uri>
      	<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
    </taglib>
    <taglib>
      	<taglib-uri>/tags/struts-logic</taglib-uri>
      	<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
    </taglib>
    <taglib>
      	<taglib-uri>/tags/struts-nested</taglib-uri>
      	<taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
    </taglib>
    <taglib>
      	<taglib-uri>/tags/struts-tiles</taglib-uri>
      	<taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
    </taglib>
    <taglib>
      	<taglib-uri>/tags/custom-tag</taglib-uri>
     	<taglib-location>/WEB-INF/custom-tag.tld</taglib-location>
    </taglib>
  </jsp-config>
  <session-config>
    	<session-timeout>220</session-timeout>
  </session-config>
  <!-- 
  <error-page>
   		<error-code>401</error-code>
    	<location>/welcomexd.jsp</location>
  </error-page>
  <error-page>
		<error-code>403</error-code>
	    <location>/welcomexd.jsp</location>
  </error-page>
  <error-page>
	    <error-code>404</error-code>
	    <location>/welcomexd.jsp</location>
  </error-page>
  <error-page>
	    <error-code>500</error-code>
	    <location>/welcomexd.jsp</location>
  </error-page>
  <error-page>
	    <error-code>503</error-code>
	    <location>/welcomexd.jsp</location>
  </error-page>
   -->
</web-app>